.sidebar-fixed {
  height: 100vh;
  width: 270px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1050;
  background-color: #fff;
  padding: 1.5rem;
  padding-top: 0; }
  .sidebar-fixed .list-group .active {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 5px; }
  .sidebar-fixed .logo-wrapper {
    padding: 2.5rem; }
    .sidebar-fixed .logo-wrapper img {
      max-height: 50px; }

@media (min-width: 1200px) {
  .navbar,
  .page-footer,
  main {
    padding-left: 270px; } }
@media (max-width: 1199.98px) {
  .sidebar-fixed {
    display: none; } }
/* Disc flip animation */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  font-size: 62.5%;
  /* allow for relative em sizing */ }

.centered {
  position: relative;
  top: 4.5rem;
  left: 40vw;
  margin: 0 auto; }

#disc {
  position: relative;
  width: 20rem;
  height: 20rem;
  cursor: pointer;
  transform-style: preserve-3d; }

#disc.white {
  border-radius: 50%;
  background: #fff;
  /* fallback */
  background: radial-gradient(ellipse at center, #ffffff 0%, #d9d9d9 63%, #b8b8b8 64%, #ffffff 67%, #ffffff 100%); }

.shadow {
  position: relative;
  top: -8.9rem;
  border-radius: 50%;
  background: #fff;
  /* fallback */
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(10%, rgba(0, 0, 0, 0.5)), to(transparent));
  background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.5) 10%, transparent 100%);
  content: "";
  height: 20rem;
  padding: 1px 0;
  -webkit-transform: scaleY(0.1);
  transform: scaleY(0.1);
  width: 20rem; }

/* seperate class to avoid animation on pageload */
.animateWhite {
  -webkit-animation: flipBlack 0.5s ease-out both;
  animation: flipBlack 0.5s ease-out both; }

#disc.black {
  background: #000;
  /* fallback */
  background: radial-gradient(ellipse at center, #474747 0%, #000000 53%, #000000 56%, #000000 61%, #595959 63%, #696969 64%, #000000 64%, #000000 100%);
  border-radius: 50%;
  -webkit-animation: flipWhite 0.5s ease-out both;
  animation: flipWhite 0.5s ease-out both; }

@keyframes flipBlack {
  from {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }
  to {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); } }
@keyframes flipWhite {
  from {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); } }
/*/ end disc flip animation */
